@model IEnumerable<MedelLibrary.ViewModels.PatronsVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Patrons";
}

<div class="col-md-12">
    <table class="table table-hover table-striped">
        <thead>
            <th>Id</th>
            <th>Email</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Address</th>
        </thead>
        <tbody>
            @foreach (var patron in Model)
            {
                <tr>
                    <td>@patron.Id.Substring(0,8)</td>
                    <td>@patron.Email</td>
                    <td>@patron.Firstname</td>
                    <td>@patron.Lastname</td>
                    <td>@patron.Address</td>
                </tr>
            }
        </tbody>
    </table>
</div>