@model MedelLibrary.ViewModels.SaveCategoryVM


<div class="col-md-6">
    <div class="card mb-4">
        <div class="card-header text-primary">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <form asp-controller="Category" asp-action="SaveCategory" method="post">

                <div class="form-group">
                    <label asp-for="@Model.Name">Category Name</label>
                    <input asp-for="@Model.Name" class="form-control form-control-user">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    <input type="hidden" asp-for="@Model.id">
                </div>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
