@model IEnumerable<MedelLibrary.Models.Book>

<div class="col-md-12">
    <table class="table table-hover table-striped">
        <thead>
            <th>ISBN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Status</th>
            <th>Cost</th>
            <th>Copies</th>
            <th>Shelf</th>
            <th>Condition</th>
            <th>Category</th>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.ISBN</td>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Year</td>
                    <td>@book.Status</td>
                    <td>@book.Cost</td>
                    <td>@book.NumberOfCopies</td>
                    <td>@book.Shelf</td>
                    <td>@book.Condition</td>
                    <td>@book.Category.Name</td>

                </tr>
            }
        </tbody>
    </table>
</div>