@model MedelLibrary.ViewModels.NewBookVM
@{
    ViewBag.Title = "Add Book";
}

<div class="col-md-9">
    <div class="card mb-4">
        <div class="card-header text-primary">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <form asp-controller="Book" asp-action="SaveBook" method="POST">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="@Model.ISBN"></label>
                        <input asp-for="@Model.ISBN" class="form-control">
                        <span asp-validation-for="@Model.ISBN" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="@Model.Title"></label>
                        <input asp-for="@Model.Title" class="form-control">
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-6">
                        <label asp-for="@Model.Author"></label>
                        <input asp-for="@Model.Author" class="form-control">
                        <span asp-validation-for="@Model.Author" class="text-danger"></span>
                    </div>
                    <div class="col-sm-6">
                        <label asp-for="@Model.Shelf"></label>
                        <select asp-for="@Model.Shelf" class="form-control">

                            @for (int i = 1; i <= 10; i++)
                            {
                                <option value="SHELF-@i">SHELF-@i</option>
                            }

                            </select>
                            <span asp-validation-for="@Model.Shelf" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="@Model.Category"></label>
                            <select asp-for="@Model.Category" class="form-control">
                                <option value="0">Select Category</option>
                                @foreach (var category in Model.Categories)
                            {
                                <option value="@category.id">@category.Name</option>
                            }
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label asp-for="@Model.NumberOfCopies"></label>
                            <input asp-for="@Model.NumberOfCopies" class="form-control">
                            <span asp-validation-for="@Model.NumberOfCopies" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6">
                            <label asp-for="@Model.Year"></label>
                            <input asp-for="@Model.Year" class="form-control">
                            <span asp-validation-for="@Model.Year" class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="@Model.Cost"></label>
                            <input asp-for="@Model.Cost" class="form-control">
                            <span asp-validation-for="@Model.Cost" class="text-danger"></span>
                        </div>
                    </div>

                    <button class="btn btn-primary float-right" type="submit">Save</button>
                </form>
            </div>

        </div>
    </div>