@model MedelLibrary.ViewModels.NewBookVM


<h1>ISBN = @Model.ISBN</h1>
<h1>Title = @Model.Title</h1>
<h1>Author = @Model.Author</h1>
<h1>Shelf = @Model.Shelf</h1>
<h1>Category = @Model.Category</h1>
<h1>Copies = @Model.NumberOfCopies</h1>
<h1>Year = @Model.Year</h1>
<h1>Cost = @Model.Cost</h1>
<br>
<label asp-for="@Model.Shelf"></label>
<select asp-for="@Model.Shelf" class="form-control">

    @for (int i = 1; i <= 10; i++)
    {
        <option value="SHELF-@i">SHELF-@i</option>
    }

    </select>
    <br>
    <label asp-for="@Model.Category"></label>
    <select asp-for="@Model.Category" class="form-control">
        <option value="0">Select Category</option>
        @foreach (var category in Model.Categories)
    {
        <option value="@category.id">@category.Name</option>
    }
    </select>
    </div>