@model MedelLibrary.ViewModels.AssetCatalogVM
@{
    ViewBag.Title = "Asset Catalog";
}


<div class="col-md-12">
    <table class="table">
        <thead>
            <th>Cover</th>
            <th>Title</th>
            <th>Author/Director</th>
            <th>Status</th>
            <th>Cost</th>
            <th>Condition</th>
            <th>Category</th>
            <th>Type</th>
        </thead>
        <tbody>
            @foreach (var asset in Model.Assets)
            {
                
                    <tr>
                        <td>
                            <a asp-controller="Asset" asp-action="Details" asp-route-id="@asset.Id">
                                <img src="~/img/@asset.ImageUrl" style="width: 60px; height: 80px" asp-append-version="true">
                            </a>
                        </td>
                        <td>@asset.Title</td>
                        <td>@asset.AuthorOrDirector</td>
                        <td>@asset.Status</td>
                        <td>P @asset.Cost.ToString("0.##")</td>
                        <td>@asset.Condition</td>
                        <td>@asset.Category.Name</td>
                        <td>@asset.Type</td>
                    </tr>
            }
            </tbody>
        </table>
    </div>