@model MedelLibrary.ViewModels.AssetVM
@{
    ViewBag.Title = Model.Title;
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Covers/@Model.ImageUrl" alt="@Model.Title" style="width: 100%;" asp-append-version="true">
        </div>
        <div class="col-md-6">
            <h3 class="text-center">@Model.Title</h3>
            @{
                if (Model.Type == "Book")
                {
                    <p>Author: @Model.AuthorOrDirector</p>
                }
                else
                {
                    <p>Director: @Model.AuthorOrDirector</p>
                }
            }
            <p>Year: @Model.Year</p>
            <p>Copies: @Model.NumberOfCopies</p>
            <p>Cost: @Model.Cost.ToString("0.##")</p>
            <p>Location: @Model.Shelf</p>
            <p>Condition: @Model.Condition</p>
            <p>Status: @Model.Status</p>
            <p>Type: @Model.Type</p>
            <p>Category: @Model.Category.Name</p>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <button class="btn btn-primary mr-1">Check out</button>
                        <button class="btn btn-primary mr-1">Hold</button>
                        @if (Model.Type == "Book")
                        {
                            <a class="btn btn-primary mr-1" asp-controller="Book" asp-action="EditBook"
                                asp-route-id="@Model.Id">Edit</a>
                        }
                        else
                        {
                            <a class="btn btn-primary mr-1" asp-controller="Video" asp-action="EditVideo"
                                asp-route-id="@Model.Id">Edit</a>
                        }
                            <button class="btn btn-primary mr-1" data-toggle="modal"
                                data-target="#DeleteModal">Delete</button>
                            <a asp-controller="Asset" asp-action="EditCover" asp-route-id="@Model.Id"
                                class="btn btn-primary">Edit Cover</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <partial name="_DeleteModal">
