@model MedelLibrary.ViewModels.AssetVM
@{
    ViewBag.Title = Model.Title;
}

<style>
    .bold{
        font-weight: bold;
    }
</style>

<div class="jumbotron p-4">
    <div class="row">
        <div class="col-md-3">
            <img src="~/Covers/@Model.ImageUrl" alt="@Model.Title" style="width: 100%;" asp-append-version="true">
        </div>
        <div class="col-md-6">
            <h3 class="text-center text-primary">@Model.Title</h3>
            @{
                if (Model.Type == "Book")
                {
                    <p class="mb-0"><span class="bold">Author:</span> @Model.AuthorOrDirector</p>
                }
                else
                {
                    <p class="mb-0"><span class="bold">Director:</span> @Model.AuthorOrDirector</p>
                }
            }
            <p class="mb-0"><span class="bold">Year:</span> @Model.Year</p>
            <p class="mb-0"><span class="bold">Copies:</span> @Model.NumberOfCopies</p>
            <p class="mb-0"><span class="bold">Cost:</span> @Model.Cost.ToString("0.##")</p>
            <p class="mb-0"><span class="bold">Location:</span> @Model.Shelf</p>
            <p class="mb-0"><span class="bold">Condition:</span> @Model.Condition</p>
            <p class="mb-0"><span class="bold">Status:</span> @Model.Status</p>
            <p class="mb-0"><span class="bold">Type:</span> @Model.Type</p>
            <p><span class="bold">Category:</span> @Model.Category.Name</p>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group mb-1">
                        @if(Model.Status != "Lost")
                        {
                            @if (Model.Status == "Checked out")
                            {
                                <form asp-controller="Transactions" asp-action="CheckIn" asp-route-id="@Model.Id" method="POST" style="display: inline;"> 
                                    <button class="btn btn-primary mr-1" type="submit">CheckIn</button>
                                </form>

                                <a asp-controller="Transactions" asp-action="Hold" asp-route-id="@Model.Id" class="btn btn-primary mr-1">Hold</a>
                                
                            }
                            else
                            {
                                <a class="btn btn-primary mr-1" asp-controller="Transactions" asp-action="CheckOut"
                                    asp-route-id="@Model.Id">
                                    Check out
                                </a>
                            }
                        }
                        
                        @if (Model.Type == "Book")
                        {
                            <a class="btn btn-primary mr-1" asp-controller="Book" asp-action="EditBook"
                                asp-route-id="@Model.Id">Edit</a>
                        }
                        else
                        {
                            <a class="btn btn-primary mr-1" asp-controller="Video" asp-action="EditVideo"
                                asp-route-id="@Model.Id">Edit</a>
                        }
                            <button class="btn btn-primary mr-1" data-toggle="modal"
                                data-target="#DeleteModal">Delete</button>

                            <a asp-controller="Asset" asp-action="EditCover" asp-route-id="@Model.Id"
                                class="btn btn-primary mr-1">Edit Cover</a>
                        
                            
                                
                                @if(Model.Status == "Lost")
                                {
                                    <form asp-controller="Transactions" asp-action="MarkFound" asp-route-id="@Model.Id" method="post">
                                        <button class="btn btn-primary" type="submit">Mark Found</button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-controller="Transactions" asp-action="MarkLost" asp-route-id="@Model.Id" method="post">
                                        <button class="btn btn-primary" type="submit">Mark Lost</button>
                                    </form>
                                }
                          
                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="row">
            <div class="col-md-5">
                <h5 class="text-center text-primary">Holds</h5>
                <table class="table table-hover table-striped">
                    <thead>
                        <th>Library Card Id</th>
                        <th>Hold Palce</th>
                    </thead>
                    <tbody>
                        @foreach (var hold in Model.Holds)
                        {
                            <tr>
                                <td>@hold.LibraryCard.Id</td>
                                <td>@hold.HoldPlace</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    </div>


    <partial name="_DeleteModal">
