@model MedelLibrary.ViewModels.EditCoverVM
@{
    ViewBag.Title = "Edit Cover";
}

<div class="row">
    <div class="col-md-4 offset-md-4 text-center">
        <h4>@Model.Title</h4>
        <h5>@Model.AuthorOrDirector</h5>
        <img src="~/Covers/@Model.ImageUrl" alt="@Model.Title" style="width: 100%;">
    </div>
</div>

<div class="row">
        <div class="col-md-4 offset-md-4">
        <form asp-controller="Asset" asp-action="EditCover" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="@Model.Image" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="@Model.Image" class="form-control custom-file-input">
                        <label class="custom-file-label">Choose File...</label>
                    </div>
                </div>
            </div>
            <div class="btn-group float-right">
                <a asp-controller="Asset" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary mr-1">Cancel</a>
                <button class="btn btn-primary float-right">Save</button>
            </div>
        </form>
    </div>
</div>