@model MedelLibrary.ViewModels.CheckoutVM
@{
    ViewBag.Title = "Checkout Asset";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4 text-center">
            <h4>@Model.Title</h4>
            <h5>@Model.AuthorOrDirector</h5>
            <img src="~/Covers/@Model.AssetCover" alt="@Model.Title" style="width: 100%;">
        </div>
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>Checkout for</label>
                    <select asp-for="@Model.LibraryCardId" class="form-control select2bs4" style="width: 100%;">
                        <option value="0">Select Patron</option>
                        @foreach (var patron in Model.Patrons)
                        {
                            <option value="@patron.LibraryCardId">@patron.PatronFullname</option>
                        }
                        </select>
                    </div>
                    <input type="hidden" asp-for="@Model.PatronId">
                    <input type="hidden" asp-for="@Model.LibraryCardId">
                    <input type="hidden" asp-for="@Model.Title">
                    <input type="hidden" asp-for="@Model.AuthorOrDirector">
                    <input type="hidden" asp-for="@Model.AssetCover">
                    <button class="btn btn-primary float-right" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>